In [1]:
!pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\programdata\anaconda3\lib\site-packages (1.4.4)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2022.1)
Requirement already satisfied: numpy>=1.18.5 in c:\programdata\anaconda3\lib\site-packages (from pandas) (1.21.5)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [2]:
import pandas as pd

In [3]:
import numpy as np

In [4]:
import matplotlib.pyplot as plt

In [5]:
import seaborn as sns

In [6]:
pd.__version__

'1.4.4'

In [12]:
df = pd.read_csv("housing.csv")

In [13]:
len(df.columns)

10

In [14]:
df.shape

(20640, 10)

In [15]:
df.isna().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

In [16]:
df.ocean_proximity.nunique()

5

In [17]:
df.groupby("ocean_proximity").median_house_value.mean()

ocean_proximity
<1H OCEAN     240084.285464
INLAND        124805.392001
ISLAND        380440.000000
NEAR BAY      259212.311790
NEAR OCEAN    249433.977427
Name: median_house_value, dtype: float64

In [18]:
total_bedrooms_mean = df.total_bedrooms.mean()
round(total_bedrooms_mean, 3) == round(df.total_bedrooms.fillna(total_bedrooms_mean).mean(), 3)

True

In [19]:
X = df[df.ocean_proximity=="ISLAND"][["housing_median_age", "total_rooms", "total_bedrooms"]].to_numpy()
np.matmul(X.T, X) == np.dot(X.T, X)

array([[ True,  True,  True],
       [ True,  True,  True],
       [ True,  True,  True]])

In [20]:
XTX = np.dot(X.T, X)

In [21]:
XTX_inv = np.linalg.inv(XTX)

In [22]:
y = [950, 1300, 800, 1000, 1300]
w = np.dot(XTX_inv, X.T) * y
w[-1].sum()

5.6992294550655656